/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************************************
DEFAULTS
*****************************************/



/*****************************************
Mobile styling
*****************************************/
.container{
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color:#222;	
}
nav{
	display: flex;
	align-content: center;
	justify-content: center;
}
/*****************************************
text-decoration to omit the lines
*****************************************/
nav a{
	color: #c78c06;
	text-decoration: none;
}
nav li{
	text-align: center;
	margin: 25px;	
}
#logo{
	width:20%
}
/*****************************************
icon-zoom next to search area
*****************************************/
.icon-zoom{
	color: #c78c06;
	border-color: #c78c06;
	border-style: solid;
	border-width: 1px;
}
button:hover, i:hover, a:hover{
	background-color: #c78c06;
	color:#222;
}

h1 {
	position: relative;
	color: white;
	margin: 50px 0 0 0;
	width: 80%;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 2rem;
	margin-bottom: 4rem;
	line-height: 4rem;
	font-weight: bold;
}
.centered{
		position: absolute;
		top: 30%;
		color: white;
		background-color: #222;
		opacity: 0.8;
		line-height: 1rem;
		margin: 60% 0 0 0;
		text-align:left;
		width: 90%;
		left: 15%;
		transform: translate(-10%, -30%);
	  }
.vision img{
		width:95%;
		height:250px;
		margin:5px;
	}
.center{
		position: absolute;
		width: 85%;
		transform: translate( 10%, -60%);
		margin-top: -20%;
}
.center h2, .center p, .center button{
	position: relative;
	color: white;
	margin:10px;
}
	
 .about, .grid-container, .field-1{
	background-color:#ffe6ac ;
}
.item1{
	background-color: white;
}
section{
	display:block;
}
section div{
	border: solid white 5px;
}
button{
	background-color: #222;
	color: white;
	padding: 20px 20px;
	margin: 10px;
}
h1, h2, h3,h5, p,form ,footer, table, .location{
	margin:10px;
}
img{
	width: 100%;
}
.icon-right{
	color: white;
}
h5{
	border-bottom:solid 2px #c78c06;

}
.grid-container button{
	width: 95%;
	font-size: 20px;
}
.icon-right{
	margin-left: 10px;
}
li input{
	padding-left: 150px;
	padding-right: 120px;
}
h2,h3,h4,h5{
	font-weight: bold;
}
h2{
	font-size:2rem;

}
/*****************************************
use flex property to make columns and rows
*****************************************/
.form{
	display: flex;
	flex-direction: column;
	
}
form input{
	width: 90%;
	margin:5px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
 /*****************************************
give padding value to increase the box size
*****************************************/
#message{
	padding: 20px;
}
/*****************************************
use 3 values for border
*****************************************/
table, th, td {
	border: 1px solid black;
  }
  th, td {
	 padding: 20px;
	 width: 25%;
  }
th{
	background-color:#ffe6ac ;
}
footer{
	background-color:#222 ;
	color:#c78c06;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
/*****************************************
Desktop styling
*****************************************/
@media screen and (min-width: 760px)  {
	
	/*****************************************
max content-1200px
*****************************************/
	  
	  .container {
		font-family:'Open Sans', sans-serif;
		max-width: 1200px;
		margin:20px;
		line-height: 25px;

	  }
	li input{
		padding:10px 40px 10px 10px;
	}
	.icon-zoom{
		padding:5px 10px;
		margin-left: -5px;
	}

	  header {
		background-color: #222;
		height: 100px;
		width: 100%;
	  }

	nav{
		margin-top: -100px;
	}

	/*****************************************
to center the items horizantally and vertically align-tems and justify-content
*****************************************/
	nav ul{
		display: flex;
		align-items: center;
		justify-content: space-evenly;

	}
    
	#logo{
		width:50px;
		margin-left: 100px;
		padding:30px;
	}
	#home{
	height:40rem;
	}
/*****************************************
add the image in html and use position property to overlay
*****************************************/
.centered {
	position: absolute;
    opacity: 0.8;
    text-align: left;
    width: 80%;
    margin-top: 15%;
    left: 50%;
    padding-bottom: 2rem;
	padding-top: 2rem;
    transform: translate(-50%, -50%);
  }
h1 {
	position: relative;
	color: white;
	margin:20px 0 0 0;
	width: 85%;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 4.5rem;
	margin-bottom: 5rem;
	line-height: 5rem;
	font-weight: bold;
  }
/*****************************************
use grid area to make columns and rows
*****************************************/
.item1 { grid-area: services; }
.item2 { grid-area: digital; }
.item3 { grid-area: marketing;}
.item4 { grid-area: video;}
.item5 { grid-area: web;} 
.item6 { grid-area: print;} 



.grid-container {
  margin:30px;
  display: grid;
  grid-template-areas:
    'services services services services services services'
	'digital digital digital  marketing marketing marketing'
	'video video web web print print';
	 background-color: #ffe6ac;
	 grid-template-columns: 40px;
}
.grid-container > div {
	gap: 10px;
	justify-content: center;
	border: 5px solid white;
}
.item1{
	background-color: white;
}
.item2{
	width: 100%;
}
.item2 img{
	height:60%;
}
.item3{
	width: 100%;	
}
.item3 > button{
	margin-top: 35px;
	margin-bottom: 20px;
}
.item3 img{
	height:60%;
}
.item4 > button{
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 5px;

}
.item5 > button{
	margin-top: 25px;
	margin-bottom: 20px;

}
.item6 > button{
	margin-top:0;
	margin-bottom: 20px;

}

.item4, .item5, .item6{
	width:100%;

}
.item4 img, .item5 img, .item6 img{
	width:100%;
	height: 50%;

}
.grid-container button{
	width: 95%;
	font-size: 20px;
}
.grid-container h3{
	margin-bottom: 10px;
	margin-top: 10px;
}
div.about {
    width: 100%;
}
 
.about{
	display: block;
	margin-top: -15px;

}
.about img{
	float: left;
	width: 30%;
	margin: 2% 2% 2% 10%;

}

h2{
	font-size: 2rem;
	font-weight: bold;
}
h3,h4{
	font-size: 1.5rem;
}
.vision img{
	width:100%;
	height:250px;
	margin:10px;
}
.center{
	position: absolute;
    width: 85%;
    transform: translate( 10%, -60%);
	margin-top: -10%;
}
.center h2, .center p, .center button{
	position: relative;
	color: white;
	font-weight: bold;
	margin:10px;
}
	
/*****************************************
grid
*****************************************/
.field-1{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows:  50% 50%;
}
.field-1 :nth-child(3){
	grid-column:2;
	grid-row: 2;
}
section article{
	background-color:#ffe6ac;
}
 /*****************************************
flex property to stack them and flex-grow to increase the size
*****************************************/
.flex >div {
	display: flex;
	flex-wrap: wrap;
}
.flex .form{
	order:-1;
	margin-top: 50px;
}
.flex .hours{
	order:3;
	flex-grow: 3;
}
.location h2{
	order: 2;
	margin-top: 60px;
}
.flex .location{
	padding-left: 20px;
    margin-right: 35px;
	margin-top: -20px;
}
table{
	width: 95%;
	margin-left: 40px;
	
}
form {
	margin-top: -20px;
	margin-left: 35px;
}
form label{
	margin-left: 10px;

}
.field-1{
margin-left: 35px;
margin-right: 35px;
}
#contact{
	margin: 60px;
}
.flex>div{
	justify-content: center;
}
form input[type=text]{
  padding: 10px 150px;
  margin: 8px 10px;
  display: block;
  border: 1px solid #222;
  box-sizing: border-box;
}
/*****************************************
use id selector to style message box
*****************************************/
#message{
	padding: 30px 150px;
}
footer{
	width: 100%;
}
}